/* center the content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  text-align: center;
}

.img-slider {
  max-width: 800px;
}

.v-card {
  min-height: 500px;
  width: 600px;
  max-width: 600px;
}

/* upload-button on the left */
.upload-button {
  align-items: flex-start;
  text-align: start;
  margin: 10px;
}

.selected {
  /* line on the bottom */
  border-bottom: 2px solid #1e95b9;

}

.dropzone-container {
  padding: 2rem;
  background: #f7fafc;
  border: 1px solid #e2e8f0;
  flex: 1;
}

.cropzone-container {
  background: #f7fafc;
  border: 1px solid #e2e8f0;
  flex: 1;
}

.hidden-input {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
}

.file-label {
  font-size: 20px;
  display: block;
  cursor: pointer;
}

.preview-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  grid-template-rows: 1fr;
}

.preview-img {
  margin-top: 10px;
  width: 90% !important;
  position: relative;
  overflow: visible;
  z-index: 0;
}

.slide-img-preview {
  margin-top: 5px;
  width: 100px !important;
}

.img-container {
  position: relative;
  overflow: visible;
}

.modal-actions {
  /* leave one content in the right and other in the left */
  margin: auto;
  width: 100%;
}

.action-btn-div {
  width: 50%;
}

.close-img-btn {
  float: right;
  top: 0px;
  right: -1px;
  position: absolute;
  color: rgba(0, 0, 0, 0);
  background-color: #B91E60;
  border-radius: 50%;
  z-index: 1;
}

.back-btn {
  float: left;
  display: flex;
  align-items: center;
}

.close-btn {
  float: right;
  /* display: flex;
  margin-left: 90%;
  position: absolute; */
}

.v-card-title {
  /* center the text */
  text-align: center;
  padding-left: 50%;
}

.v-card-title-component {
  /* center vertically */
  display: flex;
  align-items: center;
}

.progress-circular {
  /* center the progress bar */
  margin: auto;
}

.blur-alert {
  /* blur the background */
  text-align: justify;
}

.switchContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}